<!DOCTYPE html>
<html>
<head>
    <title>Ingest</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Ingest</h1>
    
    <div class="drop-area" id="dropArea">
        <div class="icon">&#128193;</div>
        <p>Drag &amp; drop files here</p>
        <p>or click to select files</p>
    </div>
    
    <div class="upload-list" id="uploadList">
        <!-- Upload progress items will appear here -->
    </div>
    
    <div class="files">
        <h3>Uploaded Files</h3>
        <ul id="fileList">
            <!-- Files will be listed here -->
        </ul>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
